<table>
    {{ range . }}
    <tr>
        <td><strong>{{ .Proxy.Name }}</strong> listen: {{ .Proxy.Listen }}  upstream: {{ .Proxy.Upstream }}
        Enabled? <input type="checkbox" {{ if .Proxy.Enabled }} checked{{ end }} /></td>
    </tr>
    {{ range .Toxics }}
    <tr>
        <td>
            name: {{ .Name }}
        </td><td>
            type: {{ .Type }}
        </td><td>
            stream: {{ .Stream }}
        </td><td>
            toxicity: {{ .Toxicity }}
        </td><td>
            direction: {{ .Direction }}
        </td><td>
            index: {{ .Index }}
        </td><td>
            buffer: {{ .BufferSize }}
        </td><td>
        </td><td>
            {{ if eq .Type "latency" }}
                jitter: <input type="text" name="jitter" value="{{ .Toxic.Jitter }}" size="6" />ms<br>
                latency: <input type="text" name="latency" value="{{ .Toxic.Latency}}" size="6" />ms
            {{ end }}

            {{ if eq .Type "bandwidth" }}
                rate: <input type="text" name="bandwidth_rate" value="{{ .Toxic.Rate }}" size="6" />KB/s
            {{ end }}

            {{ if eq .Type "limit_data" }}
                bytes: <input type="text" name="limit_data_bytes" value="{{ .Toxic.Bytes }}" size="6" /> bytes
            {{ end }}

            {{ if eq .Type "slicer" }}
                average size: <input type="text" name="slicer_average_size" value="{{ .Toxic.AverageSize }}" size="6" /> bytes<br>
                size variation: <input type="text" name="slicer_size_variation" value="{{ .Toxic.SizeVariation }}" size="6" /> bytes<br>
                delay: <input type="text" name="slicer_delay" value="{{ .Toxic.Delay }}" size="6" /> microseconds
            {{ end }}

            {{ if eq .Type "slow_close" }}
                delay: <input type="text" name="slow_close_delay" value="{{ .Toxic.Delay }}" size="6" />ms
            {{ end }}

            {{ if eq .Type "timeout" }}
                timeout: <input type="text" name="timeout" value="{{ .Toxic.Timeout }}" size="6" />ms
            {{ end }}
        </td>
        {{ end }}
    {{ end }}
    </tr>
</table>
