---

name: Analysis

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '13 7 * * 6'

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      -
        name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      -
        name: golangci-lint
        uses: golangci/golangci-lint-action@5c56cd6c9dc07901af25baab6f2b0d9f3b7c3018
        with:
          version: v1.42.1

      -
        name: shellcheck
        uses: azohra/shell-linter@6bbeaa868df09c34ddc008e6030cfe89c03394a1
        with:
          path: scripts/*
          severity: error


  vulnerabilities:
    runs-on: ubuntu-latest

    permissions:
      security-events: write

    steps:
      -
        name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      -
        name: initialize
        uses: github/codeql-action/init@v1
        with:
          languages: go

      -
        name: codeql analyze
        uses: github/codeql-action/analyze@v1
