---

name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        go: ["1.19", "1.18", "1.17"]
    name: go ${{ matrix.go }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}
          check-latest: true
          cache: true

      - name: Tests
        run: make test

      - name: benchmarks
        run: make bench

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup go
        uses: actions/setup-go@v4
        with:
          go-version: 1.19
          check-latest: true
          cache: true

      - name: E2E tests
        run: make test-e2e

      - name: Build
        uses: goreleaser/goreleaser-action@336e29918d653399e599bfca99fadc1d7ffbc9f7
        with:
          distribution: goreleaser
          version: v1.10.3
          args: build --snapshot --rm-dist --skip-post-hooks --skip-validate --single-target
        env:
          GOOS: linux
