---

name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        go: ["1.19", "1.18", "1.17", "1.16", "1.15"]
    name: go ${{ matrix.go }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - name: Tests
        run: make test

      - name: benchmarks
        run: make bench

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: E2E tests
        run: make test-e2e

      - name: Build
        uses: goreleaser/goreleaser-action@68acf3b1adf004ac9c2f0a4259e85c5f66e99bef
        with:
          distribution: goreleaser
          version: v1.10.3
          args: build --snapshot --rm-dist --skip-post-hooks --skip-validate
